# Building OASIS3-mct stand-alone using access-esm1.5 spack version
spack:
  include:
  # Include configuration from this repository, with the environment variable defined in build-ci
  - path: $SPACK_MANIFEST_REPOSITORY_PATH/.github/build-ci/config
  specs:
  - 'cice4@git.{{ ref }}=access-esm1.5 %%access_intel'
  view: false
