# Building OASIS3-mct stand-alone using access-esm1.5 spack version
spack:
  specs:
  - 'cice4@git.{{ ref }}=access-esm1.5'
  packages:
    oasis3-mct:
      require:
        - '@git.access-esm1.5_2024.05.24=access-esm1.5'
    openmpi:
      require:
        - '@4.0.2'
    netcdf-c:
      require:
        - '@4.7.4'
    netcdf-fortran:
      require:
        - '@4.5.2'
    hdf5:
      require:
        - '@1.10.11'
    all:
      require:
      - '%{{ intel_compiler }}'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false