# Building CICE4 in the context of the ACCESS-ESM1.5 model
# Using the ACCESS-ESM1.5 spack.yaml from
# https://github.com/ACCESS-NRI/ACCESS-ESM1.5/blob/c3900a91c992ff2586e353339a41dbd274ae1afb/spack.yaml
spack:
  include:
  # Include configuration from this repository, with the environment variable defined in build-ci
  - path: $SPACK_MANIFEST_REPOSITORY_PATH/.github/build-ci/config
  specs:
    - access-esm1p5
  packages:
    mom5:
      require:
        - '@git.access-esm1.5-2025.03.002=access-esm1.5'
    cice4:
      require:
        - '@git.{{ ref }}=access-esm1.5'
    um7:
      require:
        - '@git.2024.10.17=access-esm1.5'
    gcom4:
      require:
        - '@git.2024.05.28=access-esm1.5'
    all:
      require:
      - '%access_intel'
  view: false
  repos:
    access_spack_packages:
      git: https://github.com/ACCESS-NRI/access-spack-packages.git
      # NOTE: Tags after this deprecated ESM1.5, so we pin this one
      tag: 2026.07.013
      destination: $env/package-repos/access-spack-packages
