# Building OASIS3-mct stand-alone using access-esm1.5 spack version
spack:
  specs:
  - 'oasis3-mct@git.{{ ref }}=access-esm1.5'
  packages:
    openmpi:
      require:
        - '@4.0.2'
    netcdf-c:
      require:
        - '@4.7.4'
    netcdf-fortran:
      require:
        - '@4.5.2'
    hdf5:
      require:
        - '@1.10.11'
    all:
      require:
      - '%{{ intel_compiler }} target={{ target }}'
  concretizer:
    unify: false
  view: false